/* #region BASE */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --color-CTA: #50CB86;
    --color-wishlist: #E04462;
    --color-bg: #EFEFEF;
    --color-font-black: #000000;
    --color-font-white: #FFFFFF;
    --color-font-grey: #828282;
    --color-pink1: #ff5db1;
    --color-pink2: #ff61b3;
    --color-blue1: #005789;
    --color-blue2: #005a8f;
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

body {
    position: relative;
}

/* #endregion */

/* #region NAV */

    nav {
        width: 100%;
        min-height: 5vh;
        background-color: lightsalmon;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: flex;
    }

/* #endregion */

/* #region HEADER */

header {
    background-color: lightgreen;
}

/* #region FOOTER */

    footer {
        width: 100%;
        background-color: lightsalmon;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
    }

/* #endregion */

/* #endregion */

/* #region MAIN */

    main {
        min-height: 150vh;
        background-color: lightskyblue;
    }

/* #endregion */

