/* #region BASE */
@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --color-CTA: #50CB86;
    --color-wishlist: #E04462;
    --color-bg: #EFEFEF;
    --color-font-black: #000000;
    --color-font-white: #FFFFFF;
    --color-font-grey: #828282;
    font-family: 'Work Sans', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
}

h1 {
    font-size: 3.5rem;
    margin: 1rem 0;
}

h3 {
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

.cta {
    background-color: var(--color-CTA);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.img_reponsive {
    width: 100%;
    height: auto;
}

/* #endregion */

/* #region HEADER */

header {
    background: linear-gradient(135deg, #ff5db1, #005a8f);
    color: white;
    text-align: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

    /* #region NAV */

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: none;
    }

    .menu {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        text-transform: uppercase;
        height: 10vh;
    }

    .menu li {
        opacity: 0.6;
    }

    .menu li:hover, .menu li.active {
        opacity: 1;
    }

    .drop {
        display: none;
    }

    /* #endregion */

    /* #region HEADER-CONTENT */

    .header-content {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-content p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    /* #endregion */

/* #endregion */

/* #region MAIN */

main {
    background-color: red; /* display test*/
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    min-height: 30vh; /* display test*/
}

.box {
    width: 100%;
    
    min-height: 20vh; /* display test*/
    border: 1px solid red; /* display test*/
}

/* #endregion */

/* #region FOOTER */

    footer {
        width: 100%;
        background-color: var(--color-bg);
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;
        row-gap: 3rem;
        line-height: 1.5rem;
    }

    .foot_box {
        width: 100%;
        padding: 0 1rem;
    }
    
    .foot_box.more a {
        display: block;
        color: var(--color-CTA);
        margin-top: 1rem;
    }

    .foot_box.plan {
        display: flex;
        justify-content: space-between;
    }

    .foot_box p {
        color: var(--color-font-grey);
    }

    .foot_box.copyright {
        text-align: center;
    }

    @media (min-width: 769px) {
        .foot_box.more {
            width: 30%;
            text-align: right;
        }

        .foot_box.plan {
            width: 70%;
            align-items: center;
            justify-content: space-around;
        }
    }


/* #endregion */

/* #region DETAILS */

.container_bg.details {
    background-color: white;
}

/* tablet */
@media (min-width: 769px) {
     .box.details_card {
         width: 33.33%;
     }
}

/* desktop + HD */
@media (min-width: 1201px) {
    .box.details_card {
        width: 25%;
    }

    .box.details_video {
        width: 25%;
    }
}


/* #endregion */

/* #region CORE_FEATURES */

.container_bg.core_features {
    background: linear-gradient(45deg, #005a8f, #ff5db1);
}

/* desktop + HD */
@media (min-width: 1201px) {
   .box.features {
       width: 75%;
   }

   .box.stats {
       width: 25%;
   }
}

/* #endregion */

/* #region FINISHED_PROJECTS */

.container_bg.finished_projects {
    background-color: white;
}

.box.project {
    display: flex;
    flex-wrap: wrap;
}

.box.project>div {
    width: 100%;

    background-color: gold; /* display test */
    min-height: 30vh; /* display test */
}

/* tablet */
@media (min-width: 769px) {
    .box.project .project_img {
        width: 70%;
    }

    .box.project:nth-child(even) .project_img {
        order: 1;
    }

    .box.project .project_descript {
        width: 30%;
    }
}

/* desktop + HD */
@media (min-width: 1201px) {
   
}

/* #endregion */

/* #region TESTIMONIAL */

.container_bg.testimonial {
    background-color: var(--color-bg);
}


/* tablet */
@media (min-width: 769px) {
    .box.testimonial_card {
        width: 33.33%;
    }
}

/* #endregion */

/* #region NEWSLETTER */

.container_bg.newsletter {
    background: linear-gradient(135deg, #ff5db1, #005a8f);
}

/* #endregion */

/* #region HISTORY */

.container_bg.history {
    background-color: white;
}

/* tablet */
@media (min-width: 769px) {
    .box.history_img {
        width: 50%;
    }
    .box.history_text {
        width: 50%;
    }
}

/* desktop + HD */
@media (min-width: 1201px) {
    .box.history_img {
        width: 40%;
    }
    .box.history_text {
        width: 60%;
    }
}

/* #endregion */

/* #region MEET OUR STAFF */

.container_bg.meet_staff {
    background-color: white;
}

.box.staff {
    display: flex;
}

.box.staff .staff_card {
    width: 33.33%;

    min-height: 30vh; /* display test */
    border: 1px solid blue; /* display test */
}

/* #endregion */

/* #region SERVICES */

.container_bg.services {
    background-color: white;
}

.box.services_card {
    width: 33.33%;
}

/* tablet */
@media (min-width: 769px) {
    
}

/* desktop + HD */
@media (min-width: 1201px) {
   
}

/* #endregion */

/* #region WORKS */

.container_bg.works {
    background-color: white;
}

.box.work_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
}


/* tablet */
@media (min-width: 769px) {
    
}

/* desktop + HD */
@media (min-width: 1201px) {
   
}

/* #endregion */

/* #region CONTACT */

.container_bg.contact {
    background-color: white;
}

/* tablet */
@media (min-width: 769px) {
    .box.contact_form, .box.contact_info {
        width: 50%;
    }
}

/* desktop + HD */
@media (min-width: 1201px) {
   
}

/* #endregion */