/* #region BASE */
:root {
    --color-CTA: #50CB86;
    --color-wishlist: #E04462;
    --color-bg: #EFEFEF;
    --color-font-black: #000000;
    --color-font-white: #FFFFFF;
    --color-font-grey: #828282;
    --color-pink1: #ff5db1;
    --color-pink2: #ff61b3;
    --color-blue1: #005789;
    --color-blue2: #005a8f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* #endregion */